
<h1> Add a New Website </h1>
<form action="/links" method="POST">
  <label> Website Address
  <input type="text" name="website_address"/>
</label>
  <label> Website name
    <input type="text" name="website_title"/>
  </label>
  <button type="submit">Add</button>
</form>
